html {
background-color: #dbe4e5;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2392a6ac' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
	background: none;
}

.fab {
	font-size: 20px;
}

.navbar {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);

	z-index: 1;
}

a {
	text-decoration: none;
	color: black;
}

a::visited {
	color: black;
}

.navbar-title {
	font-family: sans-serif;
	font-size: 30px;
}

.profile {
	margin: auto;
	max-width: 800px;
	height: 900px;
	margin-top: 80px;

	border-radius: 15px;
	overflow: hidden;

	background-color: rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
}

.profile-header {
	width: 100%;
	height: 250px;
}

.header-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.profile-picture {
	position: absolute;
	z-index: 0;

	width: 150px;
	height: 150px;
	margin: auto;
	right: 0;
	left: 0;

	overflow: hidden;
	border-radius: 50%;
	transform: translateY(-50%);

	outline: 3px solid white;
}

.profile-picture-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.profile-name {
	text-align: center;
	margin-top: 85px;
}

.profile-info-item {
	margin-bottom: 0;
	margin-left: 15px;
}

.profile-bio {
	text-align: center;
	margin: 15px;
}

.profile-knowledge {
	width: 100%;
	height: 250px;

	display: grid;

	grid-template-rows: 230px;
	grid-template-columns: repeat(6, 230px);

	overflow: auto;
}

#svg-nodejs {
	filter: grayscale(100%);
}

#svg-mysql {
	filter: grayscale(100%);
}